@charset "UTF-8";
/* CSS Document */


/* -------------  TASTE page CSS ---------- */


#menu_account { margin-left: 20px;}

#leftbar h3 { text-align:center;}

.rounded img{ margin-left: 20px;
				margin-top: 30px;
				padding: 6px;	
 				border:2px dashed #000000;   
				border-radius: 50%;}
				


#leftbar { height: 840px;} 
		

@media screen and (min-width: 768px) {
		#btn_profile .btn {		margin-top: 110px;
								margin-left: 450px;}

}


/* -------------  SEARCH_USER page CSS ---------- */



.btn {	margin-left: 450px;
		margin-top: 10px;
		margin-bottom:-10px !important;}
	




/* -------------  SEARCH page CSS ---------- */

@media screen and (min-width: 768px) {

#recipes{ margin-top:20px;
		  margin-right: -295px;}


ul { list-style-type:none;}


@media  screen and (min-width: 992px) {
.col-md-4 { width: 16.33333333% !important; 
			background-color:#ca8563;}
			
}



/* -------------  Profile page CSS ---------- */



#menu_account { margin-left: 20px;}

#leftbar { height: 600px;} 

#leftbar h3 { text-align:center;}

.rounded img{ margin-left: 20px;
				margin-top: 30px;
				padding: 6px;	
 				border:2px dashed #000000;   
				border-radius: 50%;}
				
			

@media screen and (min-width: 768px) {
		#btn_profile .btn {		margin-top: 160px;
								margin-left: 450px;}

}

.col-xs-6 { width: 40%;}

ul > li { 	margin-bottom: 3px;}

input { margin-bottom: 14px !important;}
