@charset "UTF-8";
/* CSS Document */




/* -------------  Profile page CSS ---------- */



#menu_account { margin-left: 20px;}

#leftbar { height: 600px;} 

#leftbar h3 { text-align:center;}

.rounded img{ margin-left: 20px;
				margin-top: 30px;
				padding: 6px;	
 				border:2px dashed #000000;   
				border-radius: 50%;}
				
			

@media screen and (min-width: 768px) {
		#btn_profile .btn {		margin-top: 160px;
								margin-left: 450px;}

}

.col-xs-6 { width: 40%;}

ul > li { 	margin-bottom: 3px;}

input { margin-bottom: 14px !important;}
