@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
	font-family:"Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;	
}

.toplinks {
	text-align:right;
}

.headerlogo {
	text-align:center;
}

.mainlinks > a {
    color: hsl(0, 0%, 0%);
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 45px 15px 0 0;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body{
    font-family:Lato;
}

/*start header footer css*/

.topnav {
    padding:5px 0;
}

.topnav img {
    padding:0 5px;
}

.topnav a {
    color:rgba(255,121,0,1);
}

.toplinks {
    text-align:right;
}

.topnav .toplinks a {
    padding: 12px;
    text-decoration: none;
}

.topnav .toplinks a:hover {
    background-color: #ff3608;
    color:white;
    text-decoration: none;
}

.mainnav {
    background:url('../images/headerbg.jpg')  no-repeat center rgba(255,121,0,.7);
    min-height:150px;
    padding:20px 0 0;
}

.mainnav .mainlinks a{
    text-decoration: none;
}

.mainnav .mainlinks a:hover{
    color:white;
}

.topsearchbar {
    padding-top:35px;
}

.topsearchinput {
    background:#fff;
    border:1px solid rgba(255,121,0,1);
    height:30px;
    width:70%;
    border-radius:4px;
    float:right;
    padding-left: 10px;
}

footer {
    background:#fbf9f5;
    padding:20px 0;
    margin-top:80px;
}

footer ul {
    padding:0;
}

footer li {
    list-style:none;
}

footer li a {
    color:#000;
}


/*end header footer css*/

.hero{
    background: url("../images/hero.jpg") no-repeat;
    background-size: cover;
    height: 100%;

}

.hero-content{
    width:350px;
    height:262px;
    margin: 0 auto;
    padding:124px 0px 6px 0px;
    margin-bottom:60px;
}

.hero-content form .btn {
    float:none;
}

.herosearchbtn{
    margin-left:10px;
}

.btn-red{
    color:#fff;
    background-color: #ff3608;
    background-image: none;
    border: none;
}

.btn-orange{
    background-color:#ff9b00;
    color:#fff;
}

.hero-content .btn-create{
    display: block;
    margin:20px auto !important;
    color:#fff;
    background-color: #ff3608;
    background-image: none;
    border: none;
}

.reviewstamp {
    font-size: 10px;
    padding-top: 10px;
    margin: 0 0 10px;
    color:#ff9b00;
    font-style: italic;
}

.reviewstamp span{
    color:black;
}

.herosearchinput{
    float:left;
    width:272px;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.tab{
    width: 50%;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #ffaf66;
    border-left: 1px solid #ffaf66;
    margin:0px;
    float:left;
    color: white;
    background-color: #ff9b00;
    text-decoration: none;
    font-family: 'lato';
    font-weight: 700;
}

.tab:hover{
    text-decoration: none;
    background-color:#ffaf66 ;
    color:#ffffff;
}


.ninesixty_container{
    width: 960px;
    margin:0 auto;
}

.top_new{
    text-align: center;
    margin-top: 80px;
    overflow:hidden;
}

.top_new h3{
    color:#ff3608;
    font-family: 'lato';
    font-weight: 700;
}

.top_new a{
    color:#000;
    text-decoration: none;
    font-family: 'lato';
    font-weight: 300;
}
.chop_item{
    margin:20px 0px;
}
.rating{
    background-image: url("../images/knife_rating-icon.png");
    width: 144px;
    height: 37px;
    display: block;
    margin: 10px auto;
    border:none;
}

form h3{
    border-bottom:1px solid black;
    color:#ff9b00;
    padding-bottom:10px;
}

.form-control{
    border:1px solid #ff9b00;
}


@media screen and (max-width:767px) {
    .toplinks {
        text-align:left;
    }
    .topsearchbar {
        float:left;
    }
}

/*lana css*/

@charset "UTF-8";
/* CSS Document */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
body,html {
    height:100%;}
img{
    max-width:100%;
}

/*Feeds Page*/
h2{
    font-size:20px;}

.feed {
    border-radius: 4px  ;
    background-color: #FFDD96;
box-sizing: border-box;
  border: 1px solid white;
}
.feed img{
	padding-top:5px;}
.feed_new h3{
	color: #ff3608;
  font-family: 'lato';
  font-weight: 600;
  padding:5px;
  font-size:19px;
}
  .feed_new h2{
	color: #000;
  text-decoration: none;
  font-family: 'lato';
  font-weight: 200;
  font-size:19px;
	}
.text{
    float:left;
    padding:5px;}
.user img{
display: block;
  padding: 5px;
	width:30px;
}


/*Contact Page and FAQ Page*/

.sub-nav{
    float:left;
}

ul.list-inline a{
    color:black;
    font-size:20px;}

.caption {
    display: block;

}
.faq li{
    padding:5px;
    margin:0 auto;
    font-size:16px;
    color:black;
    float:left;
    text-align:left;
}
.form-control{
    border:1px solid rgba(255,121,0,1);

}
label{
    font-size:18px;
    font-weight:400;
}

.btn-submit {
    color: #fff;
    background-color: rgba(255,121,0,1);
    border-color: #eea236;
    width:150px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.65;
    margin-bottom:10px;
}

/*About Page*/
.wrapper{
    padding:5px;
    margin-bottom:20px;
    height:auto;
    text-align:left;}
.clearfooter {
    height: 300px;
    clear: both;
}
footer {
    position: relative;
}

/*My Chops*/
.food li img{

    max-width:100%;

}

ul.food{
    text-align:center;
    color:black;
}


.date{
    padding:5px;
    width:100px;
    height:30px;
    border-radius: 10px ;
    background-color:#FA9E41;
    margin-bottom:15px;
    text-align:center;
    font-size:1em;
    overflow: hidden;
}
.rating {
    display: block;
    padding:5px;
}
.food li{
    padding:5px;
    margin:0 auto;
    font-size:16px;
    color:black;
    float:left;
    text-align:center;
}

footer {
    background:#fbf9f5;
    padding:20px 0;
    margin-top:80px;
}

footer ul {
    padding:0;
}

footer li {
    list-style:none;
}

footer li a {
    color:#000;
}

/*responsive elements*/

@media screen and (max-width:767px) {
.toplinks {
	text-align:left;
}
.topsearchbar {
	float:left;
}
}

.recipetitle {
	background: #f5f5f5;
	margin-bottom: 20px
}

.recipetitle h2 {
	margin: 5px 0;
}

.recipetitle h3 {
	margin-top:15px;
}

.recipetitle img {
	margin-top:10px;
}

.recipeinfolist {
    padding: 0px 50px 50px;
    border: 4px solid orange;
}

.recipeinfolist ul {
	padding-left: 10px;
}

.recipeinfolist li {
	padding: 10px;
	font-size:16px;
}

.reviewslist > ul {
    list-style: outside none none;
    padding-left: 0;
}

.reviewslist > ul > li {
	background: #f6f6f6;
    padding: 5px;
    margin:10px 0;
}

.ingredientslist li {
	padding: 10px;
	font-size:16px;
}

<<<<<<< HEAD

.feed_video {
  border-radius: 4px;
  background-color: #FFDD96;
  box-sizing: border-box;
  border: 7px solid white;
}
.feed_video h3{
	color: #ff3608;
  font-family: 'lato';
  font-weight: 600;
  padding:5px;
  font-size:19px;
}
=======
<<<<<<< HEAD
ul { list-style-type:none;}

.nav-tabs { padding-top: 25px;}

#leftbar {padding-top: 25px;}
=======
<!-- Video CSS --->
.white_bg {
	background-color: white;
	opacity: 1.929;
	/*position: absolute; */
	left: 111px;
	top: 231px;
	width: 1037px;
	height: 1359px;
}
#Rectangle_1 {
	background-color: rgb(255, 164, 82);
	/*position: absolute; */
	left: 120px;
	top: 265px;
	width: 958px;
	height: 48px;
}
#Rectangle_2 {
	background-color: rgb(255, 164, 82);
	/*position: absolute;*/
	/* left: 120px; */
	top: 868px;
	width: 958px;
	height: 53px;
}
#video1 {
	/* background-color: rgb(255, 155, 0); */
  /* position: absolute; */
  /* left: 249px; */
  /* top: 215px; */
	width: 693px;
	height: 459px;
	margin: 20px 0px 0px 64px;
}
<<<<<<< Updated upstream

4h {
=======
.videopage p {
	font-size: 50px;
	font-family: "Gill Sans";
	color: rgb(242, 236, 226);
	line-height: -1;
	/* text-align: left; */
  /* top: 673.825px; */
  /* padding: 0px 50px 6px; */
	margin: 23px;
}
.videopage h4 {
>>>>>>> Stashed changes
 font-size: 50px;
 font-family: "Gill Sans";
 font-weight: lighter;
 color: rgb(255, 164, 82);
 line-height: 1.2;
}
.videopage h5 {
	font-size: 50px;
  font-family: "Gill Sans";
  font-weight: lighter;
  color: rgb(255, 164, 82);
  margin: 367px 0px 56px 98px;
  /* line-height: 13.3; */
  /* text-align: left; */
  /* position: absolute; */
  /* left: 171px; */
  /* top: 1138.837px; */
  /* z-index: 117; */
  display: block;
}

div.group {
 display: inline;
 list-style-type: none;
 padding-right: 20px;
 position: absolute;
 left: 0px;
 top: 0px;
}
box {
	position: relative;
	list-style-type: none;
	text-decoration: none;
	display: inline;
	margin: 8px 15px;
}
<!--- first row of video ---->



div.rvideo1 {
	float: left;
	/*position: absolute; */
	left: 298px;
	top: 984px;
	width: 210px;
	height: 204px;
	z-index: 135;
}
div.rvideo2 {
	float: left;
	/*position: absolute; */
	left: 521px;
	top: 984px;
	width: 210px;
	height: 204px;
	z-index: 136;
}
div.rvideo3 {
  float: right;
  /* position: absolute; */
  /* left: 664px; */
  /* top: 979px; */
  width: 343px;
  height: 204px;
  display: block;
  /* z-index: 137; */
}
div.rvideo4 {
	float: left;
	/*position: absolute; */
	left: 304px;
	top: 1300px;
	width: 210px;
	height: 204px;
	z-index: 135;
}
div.rvideo5 {
	float: left;
	/*position: absolute; */
	left: 526px;
	top: 1300px;
	width: 210px;
	height: 204px;
	z-index: 136;
}
div.rvideo6 {
	float: right;
	position: absolute;
	left: 750px;
	top: 1299px;
	width: 210px;
	height: 204px;
	z-index: 137;
}
a.food1 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: 7px;
}
a.food2 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: 32px;
}
a.food3 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: 39px;
}
a.food4 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: 17px
}
a.food5 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: 32px;
}
a.food6 {
	text-decoration: none;
	color: rgb(255, 164, 82);
	margin: -5px;
}
>>>>>>> origin/master
>>>>>>> efd5727eade369482eb128a332013967f13dca41
